/**
* UTILITY
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.column--center {
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Medium Margin Top */
.mm-top {
  margin-top: 30px;
}

/**
* APP
*/

.app__container {
  height: 100vh;
}

/**
* NAVIGATION
*/

.nav {
  background: #39A6C2;
  padding: 1em;
  justify-content: space-between;
}

.nav__title {
  font-size: 2em;
  font-weight: 100;
}

.nav__link {
  text-decoration: none;
  color: white;
}

/**
* HOME
*/

.home__container {
  justify-content: center;
  background: url('../assets/trianglify.svg');
  flex: 1;
}

.home__hint {
  font-size: 2.5em;
  font-weight: 100;
  color: white;
  padding: 0.3em;
}

/**
* ADDRESS FORM
*/

.address-form__input {
  width: 250px;
  height: 40px;
  border: 1px solid #39A6C2;
  padding: 1em;
  margin: 0.3em;
  border-radius: 5px;
  color: #586069
}

.address-form__button {
  width: 150px;
  height: 38px;
  border: none;
  background: orange;
  color: white;
  margin: 0.3em;
  border-radius: 5px;
  text-align: center;
  line-height: 38px;
  text-decoration: none;
}

/**
* LOADER
*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #39A6C2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**
* FORECAST
*/

.forecast__container {
  padding: 0 50px 0 50px;
}

/**
* FORECAST GRID
*/

.forecast-grid__address {
  text-align: center;
}

.forecast-grid__container {
  justify-content: space-between;
  flex-wrap: wrap;
}