/**
* GLOBAL STYLES
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.full-height {
  height: 100vh;
}

.item-center {
  align-items: center;
}

/**
* NAVIGATION
*/

nav {
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 0 1em;
  color: white;
}

.blue-background {
  background: lightskyblue;
}

/**
* HOME
*/

.green-background {
  background: lightgreen;
}

.center-image {
  /* background: url('./trianglify.svg') center; */
  background-size: cover;
}