/**
* GLOBAL STYLES
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/**
* NAVIGATION
*/

nav {
  display: flex;
  background: #39A6C2;
  padding: 1em;
  justify-content: space-between;
}

.app-title {
  font-size: 2em;
  font-weight: 100;
}

.app-title a {
  text-decoration: none;
  display: block;
  color: white;
}

/**
* HOME
*/

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./trianglify.svg');
  flex: 1;
  overflow: hidden;
}

.form-wrapper, .form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hint {
  font-size: 2.5em;
  font-weight: 100;
  color: white;
  padding: 0.3em;
}

input {
  width: 250px;
  height: 40px;
  border: 1px solid #39A6C2;
  padding: 1em;
  margin: 0.3em;
  border-radius: 5px;
  color: #586069
}

.button {
  width: 150px;
  height: 40px;
  border: none;
  background: orange;
  color: white;
  margin: 0.3em;
  border-radius: 5px;
}